{% extends "base.html" %}

{% block title %}
Account
{% endblock %}

{% block content %}
<!-- CSS link -->
<link rel="stylesheet" type="text/css" href="../static/style/page.css">


<!-- Page content -->
<br>
<div id="container">
    <h1>Account</h1>
    <hr>
    
    <!-- User information -->
    <h5>{{email}}</h5>
    <li>{{first_name}}</li>
    <br>
    <hr>
     <!-- Text Records -->
     <h3>History</h3>
     <ul>
         {% for txt_records in txt_records %}
         <li>
             Date: {{txt_records.now}} 
             <br>
             Text: {{txt_records.text}} 
         </li>
         {% endfor %}
     </ul>

{% endblock %}